
@media only screen and (max-width: 300px) {
    .carousel-item .carousel-caption .btn{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 600px){
    .carousel-item .carousel-caption .btn{
        margin-left: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .carousel-item .carousel-caption .btn{
        margin-left: 120px;
    }
}
@media only screen and (max-width: 900px) {
    .carousel-item .carousel-caption .btn{
        margin-left: 220px;
    }
}
